* {
    padding: 0;
    margin: 0;
}

body {
    background-color: lightblue;
    text-align: center;
    /* background-image: url(../images/tencent_video_logo.jpg); */
}

h1 {
    color: rgb(37, 10, 112);
}

p {
    font-family: verdana;
    font-size: 20px;
}


/* div {
      width: 800px;
      color: #ff0077;
      text-align: center;
  } */

a {
    text-decoration: none;
}


/* 未访问过时 */

a:link {
    color: blue;
}


/* 点击过的链接 */

a:visited {
    color: blue;
}


/*鼠标经过时的链接颜色  */

a:hover {
    color: crimson;
}

a:after {
    color: blue;
}


/* 鼠标按下时的颜色 */

a:active {
    color: blue;
}

.outer {
    /* width: 100%; */
    height: 100%;
    border: 1px solid transparent;
    text-align: center;
}

.inner {
    /* width: 100%; */
    height: 100%;
    vertical-align: middle;
    text-align: center;
}

.live a {
    display: inline-block;
    width: 100px;
    height: 50px;
    background-color: rgb(61, 120, 128);
    line-height: 50px;
}
